header img {
    display: block;
    width: 220px;
    margin-inline-start: 40px;
}

header button {
    position: relative;
    border: none;
    background-color: transparent;

    color: white;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    cursor: pointer;
}

button.active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;

    width: 100%;
    height: 2px;
    background-color: #fff;
}

header .buttons {
    display: flex;
    gap: 63px;

    margin-inline-end: 100px;
}