* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: var(--crl-primary-1);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1800px;
    height: 76px;

    background: linear-gradient(90deg, #109cb1 0%, #3dc981 80%);
}

canvas {
    border: 5px solid var(--clr-tools-bg);
    border-radius: 25px;
}

a {
    color: white;
    text-decoration: none;
}