* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--crl-primary-1);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;

    width: 90vw;
    height: 76px;
    align-self: center;
    border-radius: 50px;

    background: linear-gradient(90deg, #109cb1 0%, #3dc981 80%);
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 200px;
}

canvas {
    border: 5px solid var(--clr-tools-bg);
    border-radius: 25px;
}

a {
    color: white;
    text-decoration: none;
}