* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--crl-primary-1);
}

header {
    display: flex;
    align-items: center;
    margin-block-start: 3px;

    width: 90vw;
    height: 76px;
    align-self: center;
    border-radius: 50px;

    background: linear-gradient(90deg, #109cb1 0%, #3dc981 80%);
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 200px;
}

canvas {
    border: 5px solid var(--clr-tools-bg);
    border-radius: 25px;
}



.gallery img:hover {
    transform: scale(1.03);
}

a {
    color: white;
    text-decoration: none;
}